<nav class="navbar navbar-expand-lg amouge-nav">
  <div class="container-fluid">

    <!-- LOGO -->
    <a routerLink="/inicio" class="navbar-brand d-flex align-items-center">
      <img src="/imagenes/logo.jpg" class="logo-img" width="80px" height="70px">
    </a>

    <!-- Botón responsive -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- CONTENIDO -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- LINKS -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a routerLink="/inicio" routerLinkActive="active" class="nav-link">Inicio</a>
        </li>

        <li class="nav-item">
          <a routerLink="/productos" routerLinkActive="active" class="nav-link">Productos</a>
        </li>

        <li class="nav-item">
          <a routerLink="/ofertas" routerLinkActive="active" class="nav-link">Novedades</a>
        </li>

        <li class="nav-item">
          <a routerLink="/nosotros" routerLinkActive="active" class="nav-link">Nuestra empresa</a>
        </li>

        <li class="nav-item">
          <a routerLink="/contacto" routerLinkActive="active" class="nav-link">Contacto</a>
        </li>

        <li class="nav-item">
          <a routerLink="/compras" routerLinkActive="active" class="nav-link">Compras</a>
        </li>

        <li class="nav-item" *ngIf="usuario?.rol === 'admin'">
          <a routerLink="/admin" routerLinkActive="active" class="nav-link text-warning fw-bold">Admin</a>
        </li>

      </ul>

      <!-- DERECHA -->
      <div class="d-flex align-items-center">

        <!-- ICONO CARRITO -->
        <a routerLink="/carrito" routerLinkActive="active" class="neu-button">
          <i class="bi bi-cart"></i>
          <span>{{ cantidadProductos }}</span>
        </a>

        <!-- SI ESTÁ LOGUEADO -->
        <ng-container *ngIf="authService.isLoggedIn(); else sinSesion">
          <span class="user-label me-3">
            {{ usuario?.nombre }} ({{ usuario?.rol }})
          </span>

          <button class="btn btn-sm btn-logout" (click)="logout()">
            Cerrar sesión
          </button>
        </ng-container>

        <!-- SI NO ESTÁ LOGUEADO -->
        <ng-template #sinSesion>
          <a routerLink="/login" class="btn btn-sm btn-outline-dark me-2">Iniciar sesión</a>

         <!-- BOTON REGISTRO DE USUARIO-->
          <button routerLink="/register" class="neu-button">
            <i class="bi bi-person-circle"></i>
          </button>
        </ng-template>

      </div>
    </div>
  </div>
</nav>
